<ion-view hide-nav-bar="false" id="home" title="">
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios-person" ng-click="$root.popover.show($event)"></button>
	</ion-nav-buttons>

	<ion-content padding="true" class="has-header" overflow-scroll="false" scroll="true">
		
			<div class="logo">
				<img class="logo-tenant" ng-src="app/commons/img/bslogo.png" />
			</div>

			<div>
				<form class="form-container">
					<div class="item item-input item-floating-label item-input-wrapper">
						<span class="input-label">GTIN/PLU ou Nome do Produto</span>
						<input ng-model="vm.query" type="text" placeholder="GTIN/PLU ou Nome do Produto" />
						<span class="highlight"></span>
						<button class="button button-icon ion-ios-camera" ng-click="vm.buscarClick()" ></button>
					</div>
				</form>
			</div>
		
	</ion-content>
</ion-view>