<ion-popover-view>
	<ion-content>
		<div class="list">
			<div class="item item-divider item-text-wrap">
				Olá, <strong><span ng-bind="::usuario.nomeAbreviado"></span></strong>
			</div>
			<a ui-sref="menu.historico-consultas()" ng-click="$root.popover.hide()" class="item" ng-if="$root.possuiHistoricoConsultas">Ver histórico</a>
			<a ng-click="sair()" class="item">Sair</a>
		</div>
	</ion-content>
</ion-popover-view>
