// variables
@import "modules/variables";


// vendor
@import "ionic";

@import "commons";

$login-background: $base-background-color;
// fix
@import "iOS9fixed/ion-radio-fixed";

// layouts
@import "layouts/content";

$main-color: $azul-bluesoft;
$tenant-background-color: #fff;

@import "layouts/home";
@import "layouts/header";
@import "layouts/editar-preco";
@import "layouts/editar-preco-popup";
@import "layouts/editar-preco-confirm-popup";

// modules
@import "modules/icons";

// patterns
@import "patterns/buttons";
@import "patterns/lists";
@import "patterns/forms";
@import "patterns/messages";

// components
@import "components/parceiros";
@import "components/alerts";
@import "components/tabs";

// ios 
@import "platform/ios";

// font-awesome
@import "../www/lib/font-awesome/scss/font-awesome";  