.button-icon {
	.item-stacked-label & {
	    padding-top: 0;
	}
}

.button {
	.form-container & {
		position: absolute;
		right: 0;
		background-color: transparent;
		border: 0;
		bottom: 0;
		z-index: 10;
		transition: all 0.2s ease;
		background-color: $azul-bluesoft;
		color: #fff;
		border-radius: 50%;
		padding: 6px 14px;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
		bottom: 15px;
		right: 2px;
		line-height: 1.5;
		font-size: 1.3rem;
		min-height: auto;
	}
}

.bar-stable .button.button-icon-white {
	color: #EFEFEF;
}
