.form-container {
 position: relative;
 .has-input ~ .button:before {
	content: $ionicon-var-ios-search-strong;
 }
 .item.item-input {
 	border-color: transparent;
 }
	input {
		border-bottom: 1px solid #AAA;
	}
}

.highlight {
	position:relative;
	display:block; 
	bottom: -1px;
	&:before,
	&:after   {
		background: $azul-bluesoft;
		content:'';
		height:2px; 
		width:0;
		bottom:1px; 
		position:absolute; 
		transition:0.2s ease all; 
	}
	&:before {
		left:50%;
	}
	&:after {
		right:50%; 
	}
	input:focus ~ &:before,
	input:focus ~ &:after {
		width:50%;
	}
}

.item-stacked-label {
	padding: 8px 15px 12px;

	.input-label {
		padding: 0 0 5px;
	}

	.right {
		position: absolute;
		right: 10px;
		bottom: 0;
	}

	.input {
		background: #EEE;
		border-radius: 4px;
		margin-top: 10px;
		height: 29px;

		&,
		.list .item.item-input & {
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	.row {
		padding: 0;
		margin: 0 -5px;
		width: auto;
	}
}