.item-button-right, a.item.item-button-right, button.item.item-button-right{
  padding-right:0px !important;
}

#delta_info {
	text-align: center;
}

.dl-horizontal {
	margin-bottom: 0;
	font-size: 14px;
	text-align: right;
	.dl-divider + & {
			margin: 0 15px;
	}
	.item-text-wrap {
		@extend .clearfix;
		& + .item-text-wrap {	
    	border-top: 1px dashed #D0D0D0;
		}
	}
	dt,
	dd {
			padding: 10px 3px;
	}
	dt {
		float:left;
		width: 50vw;
		overflow: hidden;
		clear: left;
		text-align: left;
		color: #666;
		font-weight: 500;
	}
	dd {
		margin-left: 50vw;
    color: #808080;
    font-size: 16px;
	}
}

// modal
.modal.modal-dark {
 background-color: transparent;
 .scroll-content {
  background-color: #4A4A4A;
  opacity: 0.97;
 }
.item-complex .item-content,
.item-radio .item-content,
.item {
  background-color: transparent;
 }
 .item-color-white {
  color: #eee;
 }
}

.item.item-icon-right  {
 .badge {
  right: 50px;
 }
}


.produto-detalhes .list {
    margin-top: 15px;
}

.dl-divider {
    font-weight: 400;
    background-color: $energized;
    color: #fff;
    padding: 10px;
    margin: 0;
}

.card {
		margin: 10px 0px;
	}

h2.item.item-divider {
    border-color: $energized;
    border-top: 0;
    padding-top: 0;
    background-color: transparent;
    margin-bottom: 12px;
	  padding-left: 0px;
}

.item p {
    color: #666;
    padding-bottom: 5px;
}