/**
 * This CSS uses adjacent selectors instead of general sibling (~) selectors
 * for ion radio that are broken in iOS 9 UIWebView.
 * Also fix the problem in ion-item
 *
 * SASS version of Max Lynch's CSS snippet:
 * https://gist.github.com/mlynch/064d27912b511a63caa3
 */

.item-radio {
    input {
        &:checked {
            &+ .radio-content {
                .item-content {
                    /* style the item content when its checked */
                    background: #f7f7f7;
                    
                }
                .radio-icon {
                    /* show the checkmark icon when its checked */
                    visibility: visible;
                }
             .item.activated {
             
             }
            }
        }
    }
    .radio-icon {
       /* Icon style for non-checked item */
    }
 .item-content {
  padding-right: 0px;
 }
 .item.activated {
  background: none;
 }
}