<div class="actions-container">
	<button class="button button-outline button-stable" ng-click="historico()" ng-if="$root.menu.historico">Ver histórico</button>
	<button class="button button-outline button-stable" ng-click="escanearCodigoBarra()" ng-if="$root.menu.escanear">Escanear GTIN/PLU</button>
</div>
