<ion-view title="Consultas" id="pagina-consulta">
	<ion-content padding="true" class="has-header has-subheader has-footer">
		<div class="timeline-container">
			<a class="item item-icon-right item-text-wrap timeline-item" ng-click="vm.buscar(historicoConsulta.query)" ng-repeat="historicoConsulta in vm.historicoConsultas">
				<h2 ng-bind="::historicoConsulta.query"></h2>
				<p ng-bind="::historicoConsulta.produtoDescricao"></p>

				<div class="time">
					<span ng-bind="::vm.convertToDate(historicoConsulta.data) | date:'dd/MM/yyyy'"></span>
					<small class="stable" ng-bind="::vm.convertToDate(historicoConsulta.data) | date:'HH:mm'"></small>
				</div>  
				
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>
