<ion-view title="Busca por '{{ vm.descricao }}'">
	<ion-content padding="true" class="has-header has-subheader ">
		<div class="list card" ng-repeat="produto in vm.produtos">
			<a class="item item-thumbnail-left item-text-wrap item-icon-right link" ng-click="vm.detalharProduto(produto)">
				<img ng-if="!produto.urlFoto" src="./img/placeholder.png">
				<img ng-if="produto.urlFoto" ng-src="{{ produto.urlFoto }}">
				<h2 ng-bind="::produto.descricao"></h2>
				<p>GTIN/PLU: <span ng-bind="::produto.gtin"></span></p>
				<p ng-if="produto.estoqueTotal">Estoque Disponível: {{ produto.estoqueTotal }} </p>
				<p ng-if="produto.precoAtual">Preço de Venda: {{ produto.precoAtual | currency:'R$ ' }}</p>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>