<div class="view-editar-preco-popup">
    <div class="row">
        <div class="col-50 text-center" >
            <button class="button button-positive activated bar-green-sky" ng-click="aplicarPreco('preco', valorPreco)">Venda</button>
        </div>
        <div class="col-50 text-center" >
            <button class="button button-positive activated bar-green-sky" ng-click="aplicarPreco('precoFidelidade', valorPreco)">Fidelidade</button>
        </div>
    </div>
</div>