<ion-view class="view-editar-preco" title="Alterar Preço">
  <ion-nav-buttons side="left">
    <a class="button button-icon button-icon-white ion-ios-arrow-left" ng-click="vm.voltar()"></a>
  </ion-nav-buttons>

  <ion-content class="has-header has-footer">

    <p class="attention-message" ng-if="vm.informacoes.regiaoPrecoKey">Atenção! Os preços serão alterados para todas as lojas da região <u>{{ vm.informacoes.regiaoPrecoNome }}</u>.</p>

    <dl class="dl-horizontal">
      <div class="item-text-wrap">
        <dt>Custo Bruto:</dt>  
        <dd ng-bind="::vm.informacoesLoja.custoSemIcm | currency:'R$ '"></dd>
      </div>

      <div class="item-text-wrap">
        <dt>Custo Líquido:</dt>
        <dd ng-bind="::vm.informacoesLoja.custo | currency:'R$ '"></dd>
      </div>

      <div class="item-text-wrap">
        <dt>Margem Venda Bruta:</dt>  
        <dd>
          <i class="icon ion-arrow-down-b icon-color-red-down" ng-if="vm.margemBruta < 0"></i>
          <i class="icon ion-arrow-up-b icon-color-green-up" ng-if="vm.margemBruta > 0"></i>
          {{ vm.margemBruta | number: 2 }}%
        </dd>
      </div>

      <div class="item-text-wrap">
        <dt>Margem Venda Líquida:</dt>
        <dd>
          <i class="icon ion-arrow-down-b icon-color-red-down" ng-if="vm.margemLiquida < 0"></i>
          <i class="icon ion-arrow-up-b icon-color-green-up" ng-if="vm.margemLiquida > 0"></i>
          {{ vm.margemLiquida | number: 2 }}%
        </dd>
      </div>

      <div class="item-text-wrap" ng-if="vm.informacoesLoja.precoOferta > 0">
        <dt>Preço Oferta de {{ vm.informacoesLoja.dataInicialOferta }} a {{ vm.informacoesLoja.dataFinalOferta }}:</dt>
        <dd ng-bind="::vm.informacoesLoja.precoOferta | currency:'R$ '"></dd>
      </div>

    </dl>

    <section>
      <div class="row">
        <div class="col-50 text-center" ng-click="vm.aplicarPreco('precoMaximo')">
          <div class="box-shadow "  style="height: 70px; background-color: #1A91A7; width: 100%; margin: 0 auto; line-height: 120px; color: #fff;">
            <p class="no-margin" style="line-height: 30px; margin-bottom: 0px;">Preço Máximo</p>
            <p class="no-margin text-center" style="line-height: 30px; font-size: 1.5em;" ng-if="vm.informacoes.precoMaximo > 0" >{{ vm.informacoes.precoMaximo | currency: 'R$ ' }}</p>
            <p class="no-margin text-center" style="line-height: 30px; font-size: 1.5em;" ng-if="vm.informacoes.precoMaximo === 0" >-</p>              
          </div>
        </div>

        <div class="col-50 text-center" ng-click="vm.aplicarPreco('precoMedioSugerido')">
          <div class="box-shadow" style="height: 70px; background-color: #347986; width: 100%; margin: 0 auto;  color: #fff;">
            <p class="no-margin" style="line-height: 30px; margin-bottom: 0px;">Preço Médio</p>
            <p class="no-margin text-center" style="line-height: 30px;; font-size: 1.5em;" >{{ vm.informacoes.precoMedioSugerido | currency: 'R$ ' }}</p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-50 text-center " ng-click="vm.aplicarPreco('pmzSugerido')">
          <div class="box-shadow"  style="height: 70px; background-color: #347986; width: 100%; margin: 0 auto; line-height: 120px; color: #fff;">
            <p class="no-margin" style="line-height: 30px; margin-bottom: 0px;">PMZ</p>
            <p class="no-margin text-center" style="padding-left: 5px; line-height: 30px; font-size: 1.5em;">{{ vm.informacoes.pmzSugerido | currency: 'R$ ' }}</p>
          </div>
        </div>

        <div class="col-50 text-center" ng-click="vm.aplicarPreco('precoUltimaEntradaSugerido')">
          <div class="box-shadow" style="height: 70px; background-color: #1A91A7; width: 100%; margin: 0 auto;  color: #fff;">
            <p class="no-margin" style="line-height: 30px; margin-bottom: 0px;">Preço última entrada</p>
            <p class="no-margin text-center" style="line-height: 30px; font-size: 1.5em;">{{ vm.informacoes.precoUltimaEntradaSugerido | currency: 'R$ ' }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="price-fields">

      <div class="row">
        <div class="col-50 text-center" >
          <label class="item item-input item-stacked-label">
            <span class="input-label">
              <i class="icon ion-cash icon-color-money-green"></i>
              Venda

            </span>
            <input type="tel" min="0" name="preco" class="input-price" ng-model="vm.preco" ng-change="vm.recalcularMargens()" required bs-formatter="currency" />
          </label>
        </div>
        <div class="col-50 text-center" >
          <label class="item item-input item-stacked-label">
            <span class="input-label">
              <i class="icon ion-pricetag icon-color-tag-blue"></i> 
              Fidelidade                    

            </span>
            <input type="tel" min="0" name="precoFidelidade" class="input-price" ng-model="vm.precoFidelidade" ng-change="vm.recalcularMargens()" required bs-formatter="currency" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col" >

          <label class="item item-input item-stacked-label">
            <span class="input-label">
              <i class="icon ion-calendar icon-color-tag-blue"></i> 

              Vigorar a partir de 
            </span>

            <input type="date" class="input-date" name="dataInicial" ng-model="vm.dataInicial" required />
          </label>
        </div>
      </div>
    </section>


  </ion-content>

  <div class="bar bar-footer bar-green-sky bar-price-footer">
    
    <button class="button button-full button-clear" ng-click="vm.salvar()" ng-disabled="vm.preco <= 0">
      Salvar
    </button>
  </div>
</ion-view>
