.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    &.positive {
	    color: $positive;
	    background-color: lighten($positive, 45);
	    border-color: lighten($positive, 40);
	}
}