<ion-view title="Estoque do Produto por Loja">
	<ion-nav-buttons side="left">
			<a class="button button-icon button-icon-white ion-ios-arrow-left" ng-click="vm.voltar()"></a>
	</ion-nav-buttons>
		<ion-content class="has-header has-subheader">
			<ion-list class="produto-detalhes">
				<ion-item class="item-avatar item-text-wrap">
					<img ng-if="!vm.produto.urlFoto" src="./img/placeholder.png">
					<img ng-if="vm.produto.urlFoto" ng-src="{{ vm.produto.urlFoto }}">
					<h2 ng-bind="::vm.produto.descricao"></h2>
					<p>GTIN/PLU: <span ng-bind="::vm.produto.gtin"></span></p>
				</ion-item>
			</ion-list>

			<p class="warning-message" ng-if="vm.produto.informacoesLoja.length == 0"> Não encontrado informações na linha de loja do produto <b> {{ vm.produto.descricao }} </b> </p>

			<div class="list card" ng-repeat="informacoesLoja in vm.produto.informacoesLoja">
				<a ng-click="vm.detalharLoja(vm.produto, informacoesLoja)" class="item item-icon-right link" >
						<i class="icon ion-ios-arrow-right"></i>
						<h2 class="item item-divider">Loja <span ng-bind="::informacoesLoja.lojaKey"></span></h2>
					
						<dl class="dl-horizontal">
							<div ng-if="informacoesLoja.estoqueTotal" class="item-text-wrap">
								<dt>Estoque Disponível:</dt>  
								<dd ng-bind="informacoesLoja.estoqueTotal"></dd>
							</div>

							<div ng-if="informacoesLoja.preco" class="item-text-wrap">
								<dt>Preço de Venda:</dt>
								<dd ng-bind="informacoesLoja.preco | currency:'R$ '"></dd>
							</div>

							<div ng-if="informacoesLoja.precoOferta" class="item-text-wrap">
								<dt>Preço de Oferta:</dt>
								<dd ng-bind="informacoesLoja.precoOferta | currency:'R$ '"></dd>
							</div>

							<div ng-if="informacoesLoja.quantidadeVendaOnline" class="item-text-wrap">
								<dt>Quantidade Online:</dt>
								<dd ng-bind="informacoesLoja.quantidadeVendaOnline"></dd>
							</div>

							<div ng-if="informacoesLoja.precoMedioVendaOnline" class="item-text-wrap">
								<dt>Preço Médio Online:</dt>
								<dd ng-bind="informacoesLoja.precoMedioVendaOnline | currency:'R$ '"></dd>
							</div>

						</dl>
				</a>
			</div>
		</ion-content>
</ion-view>
