.platform-ios {
	.view-container {
		.item-input-inset.bar-subheader {
			top: 23px;
		}

		.bar-subheader:not(.ng-hide) + .view-container .has-footer {
			bottom: 150px;
		}
	}

	.has-menu {
		.bar-stable.bar {
			min-height: 140px;
		}


	}

	.without-header {
		top: 44px;
	}

	.actions-container {
		margin-top: 70px;
	}

	.header-without-menu {
		.bar-stable.bar {
			min-height: 0px;
		}
	}

	.platform-ios.platform-cordova:not(.fullscreen) .has-header {
		top: 0px;
	}
}