.timeline-container {
	&:before {
    border-left: 2px solid #EEEFF0;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 31.5vw;
	}
	.item {
    background-color: transparent;
    border: 0;
    margin: 20px 0 20px 30vw;
		&:before {
			content: "";
			border-radius: 50%;
			width: 9px;
			height: 9px;
			background-color: #fff;
			position: absolute;
			left: -8px;
			box-shadow: 0 0 0 2px #307EBB;
			top: 30px;
		}
	}
	.time {
    position: absolute;
    top: 15px;
    left: -35vw;
    width: 30vw;
    text-align: right;
	}
}

#pagina-consulta {
    background-color: #fff;
}
.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
    max-width: 50px;
    max-height: 50px;
}

.item-thumbnail-left,
.item-thumbnail-left .item-content {
    min-height: 70px;
    padding: 15px 45px 15px 65px;
}

.item {
    border-color: #F3F3F3;
		p {
			color: #919DA4;
		}
}

.has-footer {
    bottom: 64px;
	.bar-subheader:not(.ng-hide) + .view-container & {
			bottom: 100px;
	}
}

.fa-icon-right {
	position: absolute;
	right: 17px;
}