.view-editar-preco-popup {

    button.button.ng-binding.button-default {
            color: white;
        margin-right: 25px;
        margin-left: 25px;
    }


    .popup-head {
        background-color: #333333;
    }


    h3.popup-title.ng-binding {
            color: white;
    }

    button.button.button-positive.activated {
            background-color: #1A91A7;
        border-color: #1A91A7;
    }
}