.view-editar-preco-confirm-popup {

    button.button.ng-binding.button-default {
            color: white;
    }


    .popup-head {
        background-color: #333333;
    }


    h3.popup-title.ng-binding {
            color: white;
    }

    button.button.button-positive {
            background-color: #1A91A7;
        border-color: #1A91A7;
    }
}