.view-editar-preco {

    label.item.item-input.item-stacked-label {
        border: 0px;
        padding-left: 0px;
        text-align: center;
    }

    span.input-label {
        color: #666;
    }

    input.input-price {
        color: #666;
        font-size: 30px;
        background-color: transparent;
        text-align: center;
    }

    input.input-date {
        color: #666;
        font-size: 20px;
        background-color: transparent;
        text-align: center;
    }

    ion-footer-bar.bar-green-sky.bar.bar-footer {
        h1.title {
            color: white;
        }
    }

    p.attention-message {
        color: white;
        background-color: #d46d6d;
        padding: 5px;
        margin: 0px;
        font-weight: bold;
    }

    section.price-fields {
        padding-top: 5px;
        margin-bottom: 10px;
    }

    .bar-green-sky {
        background-color: #1A91A7;
    }

    .bar-price-footer {
        width: 100%;
        button.button-full {
            color: #fff;
            margin: 0;
        }
    }

    .row {
        padding: 0px;
    }
    
}