.bar-subheader {
    top: 13px;
}

.bar-stable.bar {
	background: transparent;
	border: 0;
	.has-menu & {
		height: 90px;
		background-color: #333333;
	}
	.header-without-menu & {
		height:44px;
		background-color: #333333;
	}
	.title {
		text-align: center;
		color: #FEFEFE;
	}
}

.actions-container {
	margin-top: 40px;
	width: 100%;
	text-align: center;
	z-index: 20;
	position: relative;
	.button {
    border-radius: 20px;
    padding: 0px 15px;
    min-height: auto;
    line-height: 34px;
		&.button-outline {
				border-color: #7A7A7D;
				color: #7A7A7D;
				&:hover,
				&:focus,
				&:active {
						background-color: $azul-bluesoft;
						border-color: $azul-bluesoft;
						color: #fff;
				}
		}
		& + .button {
				margin-left: 10px;
		}
	}
}

ion-header-bar.bar-bluesoft-gray.bar.bar-header.disable-user-behavior {
	background-color: #eeeff0;
    border: 0px;
}
