#home {
	
	.logo {
		padding: 3.5rem 1.5rem;
		text-align: center;
	}
	.logo-tenant{
		width: 100%;
		max-width: 250px;
	}
	.busca-container {
		background-color: transparent;
		border: none;
		padding: 0 0 10px 0;
		.item-input-wrapper {
			background: transparent;
			color: #FFF;
		}
		.input-label {
			font-size: 0.8rem;
			color: #FFF;
		}
	
		button{
		    border-radius: 50%;
		    width: 40px;
		    height: 40px;
		    padding: 0;
				padding-left: 5px;
		    background-color: #FFF;
		    color: #52636C;
		    font-size: 1.5rem;
		    min-width: inherit;
		    min-height: inherit;
		    border: none;
		    position: relative;
    		bottom: -11px;
    		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16),0 2px 10px rgba(0, 0, 0, 0.12);
		}
	}
	.escanear {
		margin-top: 20px;
		font-size: 1.2rem;
		background: transparent;
		color: #F9F9F9;
		border-radius: 4px;
		border: none;
		i {
			font-size: 2rem;
		}
	}
}