/*
$light:                           #fff !default;
$calm:                            #11c1f3 !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// vendor
$ionicons-font-path: "../lib/ionic/fonts" !default;
$font-family-base: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$positive: #307EBB;
$assertive: #F44336;
$balanced: #4CAF50;

$base-background-color: #f7f8f9;
$energized: #1A91A7;
$stable: #96A2A8;
