<ion-view title="Loja {{ vm.informacoesLoja.lojaKey }}">
		<ion-nav-buttons side="left">
			<a class="button button-icon button-icon-white ion-ios-arrow-left" ng-click="vm.voltar()"></a>
		</ion-nav-buttons>
	<ion-content class="has-header has-subheader">
		<ion-list class="produto-detalhes">
			<ion-item class="item-avatar item-text-wrap">
				<img ng-if="!vm.produto.urlFoto" src="./img/placeholder.png">
				<img ng-if="vm.produto.urlFoto" ng-src="{{ vm.produto.urlFoto }}">
				<h2 ng-bind="::vm.produto.descricao"></h2>
				<p>GTIN/PLU: <span ng-bind="::vm.produto.gtin"></span></p>
			</ion-item>
		</ion-list>

		<div ng-if="vm.informacoesLoja.quantidadeVendaOnline && vm.informacoesLoja.valorVendidoVendaOnline">
			<h4 class="dl-divider">Venda Online <i class="fa fa-icon-right fa-bar-chart"></i></h4>
			<dl class="dl-horizontal">
				<div class="item-text-wrap">
					<dt>Quantidade:</dt>
					<dd ng-bind="::vm.informacoesLoja.quantidadeVendaOnline  | number: 2"></dd>
				</div>

				<div class="item-text-wrap">
					<dt>Preço Médio:</dt>
					<dd ng-bind="::vm.informacoesLoja.precoMedioVendaOnline | currency:'R$ '"></dd>
				</div>

				<div class="item-text-wrap">
					<dt>Valor:</dt>
					<dd ng-bind="::vm.informacoesLoja.valorVendidoVendaOnline | currency:'R$ '"></dd>
				</div>

			</dl>
		</div>

		<h4 class="dl-divider">Estoques <i class="fa fa-icon-right fa-database"></i></h4>
		<dl class="dl-horizontal">
			<div class="item-text-wrap">
				<dt>Estoque Disponível:</dt>
				<dd ng-bind="::vm.informacoesLoja.estoqueTotal"></dd>
			</div>

			<div ng-if="vm.informacoesLoja.estoqueReservado  && vm.informacoesLoja.estoqueReservado > 0" class="item-text-wrap">
				<dt>Estoque Reservado:</dt>
				<dd ng-bind="::vm.informacoesLoja.estoqueReservado "></dd>
			</div>

			<div ng-if="vm.informacoesLoja.estoqueEmTerceiros && vm.informacoesLoja.estoqueEmTerceiros > 0" class="item-text-wrap">
				<dt>Estoque em Terceiros:</dt>
				<dd ng-bind="::vm.informacoesLoja.estoqueEmTerceiros"></dd>
			</div>

			<div ng-if="vm.informacoesLoja.estoqueFuturo  && vm.informacoesLoja.estoqueFuturo > 0" class="item-text-wrap">
				<dt>Estoque Futuro:</dt>
				<dd ng-bind="::vm.informacoesLoja.estoqueFuturo "></dd>
			</div>

			<div class="item-text-wrap">
				<dt>Estoque Total:</dt>
				<dd ng-bind="::vm.estoqueTotal(vm.informacoesLoja)"></dd>
			</div>

			<div class="item-text-wrap">
				<dt>Cobertura de estoque:</dt>
				<dd ng-bind="::vm.informacoesLoja.cobertura "></dd>
			</div>

			<div ng-if="vm.informacoesLoja.estoquePendenteEmPedido > 0" class="item-text-wrap">
				<dt>Quantidade em Pedidos Pendentes:</dt>
				<dd ng-bind="::vm.informacoesLoja.estoquePendenteEmPedidos"></dd>
			</div>

			<div class="item-text-wrap">
				<dt>Quantidade Exposição:</dt>
				<dd ng-bind="::vm.informacoesLoja.quantidadeExposicao"></dd>
			</div>

			<div class="item-text-wrap">
				<dt>Quantidade Ponto Extra:</dt>
				<dd ng-bind="::vm.informacoesLoja.quantidadePontoExtra"></dd>
			</div>

		</dl>

		<h4 class="dl-divider">Custos de Estoque <i class="fa fa-icon-right fa-money"></i></h4>
		<dl class="dl-horizontal">
			<div class="item-text-wrap">
				<dt>Custo Bruto:</dt>
				<dd ng-bind="::vm.informacoesLoja.custo | currency:'R$ '"></dd>
			</div>

			<div class="item-text-wrap">
				<dt>Custo Líquido:</dt>
				<dd ng-bind="::vm.informacoesLoja.custoSemIcm | currency:'R$ '"></dd>
			</div>

			<div class="item-text-wrap">
				<dt>Custo Contábil:</dt>
				<dd ng-bind="::vm.informacoesLoja.custoContabil | currency:'R$ '"></dd>
			</div>
		</dl>

		<div ng-if="vm.informacoesLoja.preco">
			<h4 class="dl-divider">Preços em vigor <i class="fa fa-icon-right fa-usd"></i></h4>
			<dl class="dl-horizontal">
				<div class="item-text-wrap" ng-click="vm.editarPreco()">

					<dt>Preço Atual:</dt>
					<dd >
						<i class="icon ion-edit icon-edit-color" ng-if="vm.permissoes.podeEditarPreco"></i>
						{{ vm.informacoesLoja.preco | currency:'R$ '}}
					</dd>
				</div>

				<div class="item-text-wrap" ng-click="vm.editarPreco()">
					<dt>Preço Fidelidade:</dt>
					<dd>
						<i class="icon ion-edit icon-edit-color" ng-if="vm.permissoes.podeEditarPreco"></i>
						{{ vm.informacoesLoja.precoFidelidade | currency:'R$ ' }}
					</dd>

				</div>

				<div class="item-text-wrap">
					<dt>Preço Oferta <span ng-if="vm.informacoesLoja.precoOferta > 0">de {{ vm.informacoesLoja.dataInicialOferta }} a {{ vm.informacoesLoja.dataFinalOferta }}:</span> </dt>
					<dd ng-bind="::vm.informacoesLoja.precoOferta | currency:'R$ '"></dd>
				</div>
			</dl>
		</div>

		<div ng-if="vm.informacoesLoja.margemBruta && vm.informacoesLoja.margemLiquida">
			<h4 class="dl-divider">Margens <i class="fa fa-icon-right fa-percent"></i></h4>
			<dl class="dl-horizontal">
				<div class="item-text-wrap">
					<dt>Margem Bruta:</dt>
					<dd ng-bind="::vm.informacoesLoja.margemBruta | number: 2"></dd>
				</div>

				<div class="item-text-wrap">
					<dt>Margem Líquida:</dt>
					<dd ng-bind="::vm.informacoesLoja.margemLiquida | number: 2"></dd>
				</div>
			</dl>
		</div>

		<div ng-if="vm.informacoesLoja.estoqueTroca">
			<h4 class="dl-divider">Estoque de trocas <i class="fa fa-icon-right fa-tag"></i> </h4>
			<dl class="dl-horizontal">
				<div class="item-text-wrap">
					<dt>Quantidade:</dt>
					<dd ng-bind="::vm.informacoesLoja.estoqueTroca "></dd>
				</div>

				<div class="item-text-wrap">
					<dt>Custo Bruto:</dt>
					<dd ng-bind="::vm.informacoesLoja.custoUnitarioComIcmsTroca | currency:'R$ ' "></dd>
				</div>

				<div class="item-text-wrap">
					<dt>Custo Líquido:</dt>
					<dd ng-bind="::vm.informacoesLoja.custoUnitarioTroca | currency:'R$ '"></dd>
				</div>

				<div class="item-text-wrap">
					<dt>Custo Contábil:</dt>
					<dd ng-bind="::vm.informacoesLoja.custoUnitarioContabilTroca | currency:'R$ '"></dd>
				</div>
			</dl>
		</div>

		<div ng-if="vm.informacoesLoja.ucFornecedorNome">
			<h4 class="dl-divider">Últimas Compras <i class="fa fa-icon-right fa-shopping-cart"></i></h4>
			<dl class="dl-horizontal">
				<div class="item-text-wrap">
					<dt>Fornecedor:</dt>
					<dd ng-bind="::vm.informacoesLoja.ucFornecedorNome"></dd>
				</div>

				<div class="item-text-wrap">
					<dt>Data:</dt>
					<dd ng-bind="::vm.informacoesLoja.ucDataCompra "></dd>
				</div>

				<div class="item-text-wrap">
					<dt>Unidades:</dt>
					<dd ng-bind="::vm.informacoesLoja.ucUnidades"></dd>
				</div>

				<div class="item-text-wrap">
					<dt>Custo:</dt>
					<dd ng-bind="::vm.informacoesLoja.ucCustoEstoqueComIcms | currency:'R$ '"></dd>
				</div>
			</dl>
		</div>

	</ion-content>
</ion-view>

