<ion-view>
<ion-side-menus enable-menu-with-back-views="false">
   <ion-nav-bar class="bar-stable" ng-class="{ 'has-menu': $root.menu, 'header-without-menu': $root.headerWithoutMenu }">
    <div>
      <ion-nav-buttons side="left">
       <a ui-sref="menu.home()" class="button button-icon button-icon-white ion-android-home" ng-class="{ 'hide': !$root.menu }"></a>
     </ion-nav-buttons>

     <bs-header-menu></bs-header-menu>
     
     <ion-nav-buttons side="right">
       <a ng-if="!$root.headerWithoutMenu" ng-click="$root.buscar = !$root.buscar" class="button button-icon button-icon-white {{ $root.buscar ? 'ion-android-close' : 'ion-ios-search-strong' }}"></a>
     </ion-nav-buttons>
   </div>
  </ion-nav-bar>

  <div class="bar bar-dark bar-subheader item-input-inset" ng-show="$root.buscar" ng-controller="MenuController as vm">
    <div class="item-input-wrapper">
      <input type="search" placeholder="GTIN/PLU ou Nome do produto" ng-model="$root.query" />
    </div>
    <button class="button button-clear ion-ios-search-strong" ng-click="vm.buscar($root.query)"></button>
  </div>

  <ion-side-menu-content>
    <ion-nav-view ng-class="{ 'has-header': $root.buscar, 'without-header': $root.withoutHeader }" name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  </ion-side-menus>
</ion-view>